# Project 2.1: Modeling the Price of Vehicles
## Part 1: Cleaning and Wrangling Data with Automobile Dataset

For this dataset, we will try to build a model to determine the price of a vehicle. For this lab, we will complete the data cleaning and exploratory data analysis required to build our model. Cleaning the dataset and identifying features which relate to vehicle price is critical to building a model to answer our question. A future lab will use our findings here to actually create the model. This notebook contains part 1 of this lab and is worth 6 points.

**Rubric**

- 6 pts - Contains all required components and uses professional language
- 5 pts - Contains all required components, but uses unprofessional language, formating, etc.
- 4 pts - Contains some, but not all, of the required components
- 3 pts - Did not submit

## Getting the data 
For this lab we are using the automobile dataset from [UC Irving's Machine Learning Repository](https://archive.ics.uci.edu/dataset/10/automobile). This dataset should be available in your GitHub repository as `automobile.csv`.

Import `pandas` and use `.read_csv()` to create your dataframe.

In [4]:
import pandas as pd
df = pd.read_csv('automobile.csv')

To make sure your dataframe is correct, list the columns of your dataframe.

In [5]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

## Data cleaning and wrangling
Looking at our dataset, we can see several question marks appeared in the dataframe; those are missing values which may hinder our further analysis.

So, how do we identify all those missing values and deal with them?

Steps for working with missing data:
1. Identify missing data
2. Deal with missing data
3. Correct data format

### Identify and handle missing values
#### Identify missing values
##### Convert "?" to NaN
In the car dataset, missing data comes with the question mark "?".
We replace "?" with numpy's NaN (Not a Number), Python's default missing value marker for reasons of computational speed and convenience. Here we use the function: `.replace(A, B, inplace = True)` to replace A by B.

In [6]:
df.replace('?', 'NaN', inplace=True)

##### Evaluating for missing data

The missing values are converted by default. We use the following functions to identify these missing values. There are two methods to detect missing data:
- `.isnull()`
- `.notnull()`

The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.
"True" means the value is a missing value while "False" means the value is not a missing value.

In [7]:
df.isnull()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
199,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

##### Count missing values in each column
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value and "False" means the value is present in the dataset.  In the body of the for loop the method `.value_counts()` counts the number of "True" values.

In [8]:
for column in df.columns:
    print(f'{df[column].isnull().value_counts()}\n \n --------------------------- \n')

symboling
False    200
Name: count, dtype: int64

 ---------------------------

normalized-losses
False    164
True      36
Name: count, dtype: int64

 ---------------------------

make
False    200
Name: count, dtype: int64

 ---------------------------

fuel-type
False    200
Name: count, dtype: int64

 ---------------------------

aspiration
False    200
Name: count, dtype: int64

 ---------------------------

num-of-doors
False    198
True       2
Name: count, dtype: int64

 ---------------------------

body-style
False    200
Name: count, dtype: int64

 ---------------------------

drive-wheels
False    200
Name: count, dtype: int64

 ---------------------------

engine-location
False    200
Name: count, dtype: int64

 ---------------------------

wheel-base
False    200
Name: count, dtype: int64

 ---------------------------

length
False    200
Name: count, dtype: int64

 ---------------------------

width
False    200
Name: count, dtype: int64

 ---------------------------

height
False    200
Name: count, dtype: int64

 ---------------------------

curb-weight
False    200
Name: count, dtype: int64

 ---------------------------

engine-type
False    200
Name: count, dtype: int64

 ---------------------------

num-of-cylinders
False    200
Name: count, dtype: int64

 ---------------------------

engine-size
False    200
Name: count, dtype: int64

 ---------------------------

fuel-system
False    200
Name: count, dtype: int64

 ---------------------------

bore
False    196
True       4
Name: count, dtype: int64

 ---------------------------

stroke
False    196
True       4
Name: count, dtype: int64

 ---------------------------

compression-ratio
False    200
Name: count, dtype: int64

 ---------------------------

horsepower
False    198
True       2
Name: count, dtype: int64

 ---------------------------

peak-rpm
False    198
True       2
Name: count, dtype: int64

 ---------------------------

city-mpg
False    200
Name: count, dtype: int64

 ---------------------------

highway-mpg
False    200
Name: count, dtype: int64

 ---------------------------

price
False    200
Name: count, dtype: int64

 ---------------------------

Based on the summary above, each column has 200 rows of data and six of the columns containing missing data:
- `normalized-losses`: 
- `num-of-doors`: 
- `bore`: 
- `stroke`: 
- `horsepower`:
- `peak-rpm`: 

#### Deal with missing data
How to deal with missing data?

1. Drop data
    1. Drop the whole row
    2. Drop the whole column
2. Replace data
    1. Replace it by mean
    2. Replace it by frequency
    3. Replace it based on other functions

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

1. Replace by mean:
- `normalized-losses`: 36 missing data
- `bore`: 4 missing data 
- `stroke`: 4 missing data 
- `horsepower`: 2 missing data 
- `peak-rpm`: 2 missing data

2. Replace by frequency:
- `num-of-doors`: 2 missing data - *84% sedans is four doors. Since four doors is most frequent, it is most likely to occur*

Calculate the mean value for the "normalized-losses" column

In [9]:
import numpy as np
total = 0
count = 0
for row in df['normalized-losses']:
    if np.isnan(row) != True:
        total += row
        count += 1
mean = total / count
print(mean)

122.0

Replace "NaN" with mean value in "normalized-losses" column. You can use `.replace()` for `.fillna()`.

In [10]:
df['normalized-losses'].fillna(122.0)

0      122.0
1      122.0
2      164.0
3      164.0
4      122.0
       ...
195     95.0
196     95.0
197     95.0
198     95.0
199     95.0
Name: normalized-losses, Length: 200, dtype: float64

Calculate the mean value for the "bore" column. Then, replace "NaN" with the mean value in the "bore" column.

In [11]:
total = 0
count = 0
for row in df['bore']:
    if np.isnan(row) != True:
        total += row
        count += 1
mean = total / count
print(mean)

df['bore'].fillna(3.3300000000000005)

3.3300000000000005

0      3.47
1      2.68
2      3.19
3      3.19
4      3.19
       ...
195    3.78
196    3.78
197    3.58
198    3.01
199    3.78
Name: bore, Length: 200, dtype: float64

Calculate the mean value for the "stroke" column. Replace NaN in "stroke" column with the mean value.

In [12]:
total = 0
count = 0
for row in df['stroke']:
    if np.isnan(row) != True:
        total += row
        count += 1
mean = total / count
print(mean)

df['stroke'].fillna(3.2598469387755036)

3.2598469387755036

0      2.68
1      3.47
2      3.40
3      3.40
4      3.40
       ...
195    3.15
196    3.15
197    2.87
198    3.40
199    3.15
Name: stroke, Length: 200, dtype: float64

Calculate the mean value for the "horsepower" column. Replace "NaN" with the mean value in the "horsepower" column.

In [13]:
total = 0
count = 0
for row in df['horsepower']:
    if np.isnan(row) != True:
        total += row
        count += 1
mean = total / count
print(mean)

df['horsepower'].fillna(103.35858585858585)

103.35858585858585

0      111.0
1      154.0
2      102.0
3      115.0
4      110.0
       ...
195    114.0
196    160.0
197    134.0
198    106.0
199    114.0
Name: horsepower, Length: 200, dtype: float64

Calculate the mean value for "peak-rpm" column. Replace "NaN" with the mean value in the "peak-rpm" column.

In [14]:
total = 0
count = 0
for row in df['peak-rpm']:
    if np.isnan(row) != True:
        total += row
        count += 1
mean = total / count
print(mean)

df['peak-rpm'].fillna(5118.181818181818)

5118.181818181818

0      5000.0
1      5000.0
2      5500.0
3      5500.0
4      5500.0
        ...
195    5400.0
196    5300.0
197    5500.0
198    4800.0
199    5400.0
Name: peak-rpm, Length: 200, dtype: float64

For "num-of-doors", we want to replae it with the mode common value. To see which values are present in a particular column, we can use the `.value_counts()` function:

In [15]:
df['num-of-doors'].value_counts()

num-of-doors
four    113
two      85
Name: count, dtype: int64

We can see that four doors are the most common type. We can also use the `.idxmax()` function with `.value_counts()` to calculate the most common type automatically:

In [16]:
df['num-of-doors'].value_counts().idxmax()

'four'

Now replace the null values in "num-of-doors" with the most common value.

In [17]:
df['num-of-doors'].fillna('four')

0       two
1       two
2      four
3      four
4       two
       ...
195    four
196    four
197    four
198    four
199    four
Name: num-of-doors, Length: 200, dtype: object

**Great!** Now, we have a dataset with no missing values.

### Correct data format
We are almost there! The last step is checking and making sure that all data is in the correct format (int, float, text or other).
In pandas, we use:
- `.dtype()` to check the data type
- `.astype()` to change the data type

Let's list the data types for each column. Verify that the data types make sense with the [documentation](https://archive.ics.uci.edu/dataset/10/automobile). If not, change the data types.

In [18]:
for c in df.columns:
    print(f'{c} Column: {np.dtype(df[c])}\n')

symboling Column: int64

normalized-losses Column: float64

make Column: object

fuel-type Column: object

aspiration Column: object

num-of-doors Column: object

body-style Column: object

drive-wheels Column: object

engine-location Column: object

wheel-base Column: float64

length Column: float64

width Column: float64

height Column: float64

curb-weight Column: int64

engine-type Column: object

num-of-cylinders Column: object

engine-size Column: int64

fuel-system Column: object

bore Column: float64

stroke Column: float64

compression-ratio Column: float64

horsepower Column: float64

peak-rpm Column: float64

city-mpg Column: int64

highway-mpg Column: int64

price Column: int64

<b>Wonderful!</b>

Now we have finally obtained the cleaned dataset with no missing values with all data in its proper format.

### Data Standardization

Data is usually collected from different agencies in different formats. (Data standardization is also a term for a particular type of data normalization where we subtract the mean and divide by the standard deviation.)

**What is standardization?**
Standardization is the process of transforming data into a common format, allowing the researcher to make the meaningful comparison.

In our dataset, the fuel consumption columns "city-mpg" and "highway-mpg" are represented by mpg (miles per gallon) unit. Assume we are developing an application in a country that accepts the fuel consumption with L/100km standard.>We will need to apply data transformation to transform mpg into L/100km. 

The formula for unit conversion is: L/100km = 235 / mpg.

Use pandas to create the column `city-L/100km` and `highway-L/100km`.

In [27]:
city = []
highway = []
for mpg in df['city-mpg']:
    l = 235 / mpg
    city.append(l)
for mpg in df['highway-mpg']:
    l = 235 / mpg
    highway.append(l)

df['city-L/100km'] = city
df['highway-L/100km'] = highway
display(df)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111.0,5000.0,21,27,16500,11.190476,8.703704
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154.0,5000.0,19,26,16500,12.368421,9.038462
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102.0,5500.0,24,30,13950,9.791667,7.833333
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115.0,5500.0,18,22,17450,13.055556,10.681818
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,3.19,3.40,8.5,110.0,5500.0,19,25,15250,12.368421,9.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,3.78,3.15,9.5,114.0,5400.0,23,28,16845,10.217391,8.392857
196,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.78,3.15,8.7,160.0,5300.0,19,25,19045,12.368421,9.400000
197,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,3.58,2.87,8.8,134.0,5500.0,18,23,21485,13.055556,10.217391
198,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,3.01,3.40,23.0,106.0,4800.0,26,27,22470,9.038462,8.703704
199,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.78,3.15,9.5,114.0,5400.0,19,25,22625,12.368421,9.400000

### Data Normalization

**Why normalization?**
Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include scaling the variable so the variable average is 0 and the variance is 1, or scaling the variable so the variable values range from 0 to 1.

To demonstrate normalization, let's say we want to scale the columns "length", "width" and "height".
- Target:normalize those variables so their value ranges from 0 to 1
- Approach: replace original value by (original value)/(maximum value)

Normalize the columns "length", "width", and "height". Use the `.max()` function to get the column max. Print the first 10 values of "length", "width", and "height".

In [38]:
maxL = df['length'].max()
maxW = df['width'].max()
maxH = df['height'].max()
for a in df['length']:
    b = a / maxL
    df['length'].replace(a, b)
for a in df['width']:
    a = a / maxW
for a in df['height']:
    a = a / maxH
print(f"Length: \n{df['length'].head(10)}")
print(f"Width: \n{df['width'].head(10)}")
print(f"Height: \n{df['height'].head(10)}")

Length:
0    168.8
1    171.2
2    176.6
3    176.6
4    177.3
5    192.7
6    192.7
7    192.7
8    176.8
9    176.8
Name: length, dtype: float64
Width:
0    64.1
1    65.5
2    66.2
3    66.4
4    66.3
5    71.4
6    71.4
7    71.4
8    64.8
9    64.8
Name: width, dtype: float64
Height:
0    48.8
1    52.4
2    54.3
3    54.3
4    53.1
5    55.7
6    55.7
7    55.9
8    54.3
9    54.3
Name: height, dtype: float64

Here we can see we've normalized "length", "width" and "height" in the range of \[0,1].

### Binning

**Why binning?**
Binning is a process of transforming continuous numerical variables into discrete categorical 'bins' for grouped analysis.

In our dataset, "horsepower" is a real valued variable ranging from 48 to 288 and it has 59 unique values. What if we only care about the price difference between cars with high horsepower, medium horsepower, and little horsepower (3 types)? Can we rearrange them into three ‘bins' to simplify analysis? 

We will use the pandas method `cut()` to segment the 'horsepower' column into 3 bins.

#### Binning data with pandas 

Since we want to create bins based on numerical values of "horsepower", we need to make sure that the coulmn is of type integer. If it is not, fix it now.

Let's plot the histogram of "horsepower" to see what the distribution of the values look like.

Import `matplotlib.pyplot` and use `hist(df['horsepower'])` to create a histogram. Make sure your graph has a title and  x and y axis labels.

We would like 3 bins of equal size, so we use numpy's `linspace(start_value, end_value, numbers_generated)` function.
- Since we want to include the minimum value of horsepower, we want to set `start_value = min(df["horsepower"])`.
- Since we want to include the maximum value of horsepower, we want to set `end_value = max(df["horsepower"])`.
- Since we are building 3 bins of equal length, there should be 4 dividers, so `numbers_generated = 4`.

Create an array called `binns` using `linspace()`. These values will determine when one bin ends and another begins when applied to "horsepower".

Create a list of group names that we will set for each label. The three groups we want are low, meidum, and high.

Create a new column called "horsepower-binned" using the `cut()` function with `pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True)`. Print out the first 20 rows of "horsepower" and "horsepower-binned" to check your work.

Check the number of vehicles in each bin using `value_counts()`.

Now, use let's make a histogram of our horsepower bins. The easiest way to do this is to use the `bar()` function like `bar(group_names, df["horsepower-binned"].value_counts())`. Make sure your graph has axis labels and a title.

Look at the graph above carefully. You will find that the last column provides the bins for "horsepower" based on 3 categories ("Low", "Medium" and "High"). We successfully narrowed down the intervals from 59 to 3! Instead of making an entirely new column, you could have also made a quick visualization of these same bins by changing parameters in the `.hist()` method like `plt.hist(df["horsepower"], bins=3)`.

### Indicator variables (or dummy variables)
**What is an indicator variable?**
An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning. 

**Why we use indicator variables?**
We use indicator variables so we can use categorical variables for regression analysis in the later modules.

We see the column "fuel-type" has two unique values: "gas" or "diesel". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, we convert "fuel-type" to indicator variables.

Use pandas' method `get_dummies(column_name)` to assign numerical values to different categories of fuel type and assign it to a variable.

Change the column names to "fuel-type-gas" and "fuel-type-diesel" for clarity.

Add the "dummy_variable" dataframe to your original dataframe `df` with pandas' `concat()` function. Then remove "fuel-type" from your dataframe.
```
df = pd.concat([df, dummy_variable_1], axis=1)
df.drop('fuel-type', axis = 1, inplace = True)
```

The last two columns are now the indicator variable representation of the fuel-type variable. They're all 0s and 1s now.


Similar to before, we follow the same steps to create indicator variables for the column "aspiration". Then use `concat()` to add your dummy variables back into the dataframe and remove the original column.

**Awesome!** Now we are done cleaning our data.

## Export your file
To move to the second part of the lab, we need to save our dataframe in a new file. Use the function `df.to_csv(file_name)` to save your dataframe to a new csv.